/*
 * NectoTable styles
 */

.necrotable .nt-details-row-expanded td {
    border-bottom: none;
}

.necrotable .nt-details-row td {
    border-top: none;
}


/*
 * Site filter dropdown style
 */

.nt-site-filter li {
    border-bottom: 1px solid rgba(112, 128, 144, 0.1);
}

.nt-site-filter li:last-child {
    border-bottom: none;
}

.nt-site-filter .dropdown-menu li a {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.nt-site-filter .dropdown-menu li a,
.nt-site-filter .dropdown-toggle .selected-tag {
    font-size: 1.25em;
}

.nt-site-filter .selected-tag {
    position: relative !important;
}
