/*
 * NectoTable styles
 */

.necrotable .nt-details-row-expanded td {
    border-bottom: none;
}

.necrotable .nt-details-row td {
    border-top: none;
}


/*
 * Dropdown filter style
 */

.dropdown-filter {
    cursor: pointer;
}

/*
 * Site profile styles
 */


.site_profile_link {
    font-size: 1.7em;
}
